
# Logs
logs
*.log
npm-debug.log*
# Dependency directories
node_modules/
# dotenv environment variables file
.env
.env.test
# OS specific
.DS_Store
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
# IDE specific
.vscode
.idea